@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Martel Sans", sans-serif;
  color: white;
}
body {
  background-color: black;
}
.main {
  background-image: url(../Assests/Images/background.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  height: 80vh;
}
.box {
  position: absolute;
  top: 0;
  background-color: rgba(23, 23, 23, 0.72);
  height: 80vh;
  width: 100%;
}
nav {
  position: relative;
  z-index: 1;
  max-width: 70vw;
  height: 80px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.hero {
  position: relative;
  height: calc(100% - 80px);
  z-index: 1;
  color: white;
  display: flex;
  max-width: 70vw;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero > :first-child {
  font-weight: 900;
  font-size: 48px;
}
.hero > :nth-child(2) {
  font-weight: 400;
  font-size: 24px;
}
.hero > :nth-child(3) {
  font-weight: 400;
  font-size: 20px;
}
.lang {
  padding: 5px 17px;
  border-radius: 5px;
}
.lang option {
  color: black;
}
.btns button {
  padding: 5px 19px;
  border-radius: 4px;
  margin-left: 7px;
  font-weight: 500;
}
.mail button {
  padding: 13px 23px;
  font-weight: 800;
  border-radius: 4px;
}
.mail input {
  padding: 13px 130px 13px 8px;
  border-radius: 4px;
}
.line {
  height: 5px;
  background-color: rgb(66, 66, 66);
}
/* hero ends  */

.tv {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.tv .tv-text {
  max-width: 45vw;
  margin: auto;
  padding: 13px 0px;
}
.tv .img img {
  max-width: 50vw;
}
.tv .img {
  position: relative;
}
.tv .img video {
  position: absolute;
  max-width: 50vw;
  z-index: -1;
  top: 90px;
  left: 87px;
}
.bold {
  font-weight: 900;
  font-size: 48px;
}
.desktop .img video {
  max-width: 25vw;
  top: 41px;
  left: 109px;
}
.tv p {
  font-size: 24px;
}
/* faq start */
.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin: 10px;
}
.heading {
  margin: 12px 0px;
  text-align: center;
}
.faqs {
  background-color: #2d2d2d;
  width: 75vw;
  margin: auto;
  padding: 3px 11px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.plus {
  font-size: 32px;
}
.faqs:hover {
  background-color: #414141;
}
.faq .mail {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 9px;
  margin: 7px 0;
}
/* footer starts */
footer {
  max-width: 75vw;
  margin: auto;
  padding: 13px;
}
footer #call {
  padding: 13px 0;
}

.footer div {
  display: flex;
  flex-direction: column;
  gap: 17px;
  padding: 3px;
}
.footer div a {
  color: rgba(255, 255, 255, 0.8);
}
.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
#infoot {
  margin: 9px 0;
}
/* footerends */
@media only screen and (max-width: 1200px) {
  .tv {
    flex-direction: column;
  }
  .tv .tv-text {
    max-width: 90vw;
  }
  .tv .tv-text {
    text-align: center;
  }
  .tv .tv-text span {
    display: block;
    margin: auto;
  }
  .tv .img img {
    max-width: 100vw;
  }
  .tv .img {
    position: relative;
  }
  .tv .img video {
    position: absolute;
    max-width: 75vw;
    z-index: -1;
    top: 52px;
    left: 49px;
  }
  .desktop .img video {
    max-width: 50vw;
    position: absolute;
    top: 41px;
    left: 107px;
  }

  .bold {
    font-size: 32px;
  }
  .tv p {
    font-size: 18px;
  }
  .mobile {
    flex-direction: column-reverse;
  }
  .footer {
    grid-template-columns: 1fr 1fr;
  }
  .footer div {
    gap: 5px;
  }
}
@media only screen and (max-width: 768px) {
  nav {
    max-width: 95vw;
  }
  .hero {
    max-width: 89vw;
    gap: 13px;
  }
  .hero > :first-child {
    font-size: 32px;
  }
  .hero > :nth-child(2),
  .hero > :nth-child(3) {
    font-size: 18px;
  }
  .mail .red-btn {
    margin: 7px;
    padding: 7px 13px;
  }
  .mail input {
    padding: 9px 90px 9px 8px;
    max-width: 90vw;
  }

  .logo img {
    width: 80px;
  }
  .lang {
    font-size: 13px;
    padding: 3px 13px;
  }
  .btns button {
    padding: 3px 13px;
  }
  footer {
    max-width: 89vw;
  }
}
@media only screen and (max-width: 413px) {
  .hero > :first-child {
    line-height: 31px;
  }
  .desktop .img video {
    max-width: 50vw;
    position: absolute;
    top: 19px;
    left: 66px;
  }
}
@media only screen and (max-width: 313px) {
  .footer {
    grid-template-columns: 1fr;
  }
  .footer div {
    gap: 3px;
  }
  .hero > :first-child {
  font-weight: 900;
  font-size: 24px;
}
}
